@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.char {
    background-color: rgb(128, 0, 0);
    padding: 5px;
    width: 12vw;
    /* height: fit-content; */
    border: 1px solid #ccc;
    border-radius: 8px;
    /* overflow: hidden; */
    font-family: Arial, sans-serif;
}

.char:hover {
    box-shadow: 0px 0px 5px 3px rgba(216, 212, 212, 0.3);
    cursor: pointer;
}

.char-image {
    width: 100%;
    height: 220px;
    border-radius: 8px;
    object-fit: contain;
}

.char-name {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1fr;
    text-align: center;
    overflow: hidden;
    color: white;
}
