.char {
    background-color: rgb(136, 4, 129);
    padding: 5px;
    width: 12vw;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.char:hover {
    box-shadow: 0px 0px 5px 3px rgba(216, 212, 212, 0.3);
    cursor: pointer;
}

.char-image {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.char-name {
    font-family: "MedievalSharp", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1fr;
    color: white;
    overflow: hidden;

    margin-bottom: 2px;
}

.info {
    margin: 0px;
    font-size: 13px;
}
