.inpt-attr {
    position: relative;
    margin: 0px 10px 0px 10px;
    width: 66px;
    display: flex;
    justify-content: center;

    & > input {
        height: fit-content;
        text-align: center;
        width: 100%;
        font-size: 2.5rem;
        padding: 6px 0px 10px 0px;
        border-radius: 5px 5px 0px 0px;
        border: 1px solid white;
    }

    & > label {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50px;
        border: 1px solid white;
        background-color: #ac3233;
        color: white;
        font-size: 1rem;
    }
}