.ficha {
  /* max-width: fit-content;
  max-width: 100vw; */
}

.ficha-header {
  margin: 10px 0px 10px 10px;
}

.ficha-body {
  background-color: rgba(55, 52, 52, 1);
  width: fit-content;
  display: grid;
  justify-items: center;
  grid-template: 
    'image     infos-base pericias' 100px
    'image     attrs      pericias' 180px
    'infos-mid infos-mid  pericias' 
    /auto      auto       auto;

  & > .char-img {
    grid-area: image;
    height: 250px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
  }

  & > .infos-base {
    grid-area: infos-base;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
  }

  & > .pericias {
    grid-area: pericias;
    width: 300px;
    height: 1000px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }

  & > .atributos {
    grid-area: attrs;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }

  & > .infos-mid {
    grid-area: infos-mid;
    margin: 10px;
  }
}

