.ficha {
  max-width: 100vw;
}

.ficha-header {
  max-width: 100vw;
  margin: 10px 0px 10px 10px;
}

.ficha-body {
  background-color: rgba(55, 52, 52, 1);
  display: grid;
  grid-template-columns: auto auto auto;

  & > .char-img {
    height: 250px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
  }

  & > .infos-base {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    
    gap: 20px;
  }

  & > .pericias {
    width: 30vw;
    height: 1000px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
}

