.title {
    margin-bottom: 0;
}

.btn-new-char{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.btn-new-char:hover {
    background-color: #45a049;
    border: white 2px solid;
    box-shadow: 0px 0px 5px 3px rgba(216, 212, 212, 0.3);
}