/* fonts */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: #242424;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}
